.bg_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/20250801_1952_Colorful Ride Sharing Scene_simple_compose_01k1jjeveff5zv1ea6e03yt1q8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}




.header{
  display: flex;
  background-color: rgb(31, 31, 31);
  color: rgb(241, 241, 241);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.title{
  font-family: "Bangers", system-ui;
  font-size: 44px;
  font-weight: 400;
  justify-content: center;
  margin-left: 59px;
}

.login_box{
  border:none;
  display: flex;
  flex-direction: column;
  width: 370px;
  
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: middle;
  padding-top: 70px;
  background-color: rgb(216, 216, 216);
  border-radius: 7px;
  position: fixed;
  top: 25%;
  left: 35%;
  padding-bottom: 100px;
}
.login{
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
  font-size: 28px;
  margin-top: 15px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: opacity 0.25s, padding 0.15s;
}
.login:hover{
  opacity:0.5;
  cursor: pointer;
}
.login:active{
  opacity: 0.3;
  padding-bottom: 5px;
  padding-right: 10px;
}

.eml{
  width: 300px;
  height: 55px;
  vertical-align: middle;
  margin-bottom: 20px;
  border: none;
  border-bottom: none;
  background-color: rgb(251, 251, 251);
  border-width: 1px;
  border-bottom-color: rgb(209, 209, 209);
  border-radius: 3px;
  padding-left: 19px;
}
.pswrd{
  width: 300px;
  height: 55px;
  border: none;
  border-bottom: none;
  background-color: rgb(251, 251, 251);
  border-width: 1px;
  border-bottom-color: rgb(209, 209, 209);
  border-radius: 3px;
  padding-left: 19px;
  
}
.alt{
  position: fixed;
  left: 39%;
  top: 75%;
  font-family: "Urbanist", sans-serif;
  font-size: small;
}
.loginimg{
  object-fit:cover;
  width: 1236px;
  height: 580px;
  margin: 0;
  overflow: hidden;
}
.bg_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/20250801_1952_Colorful Ride Sharing Scene_simple_compose_01k1jjeveff5zv1ea6e03yt1q8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.flash_container{
  position: fixed;
  top: 66px; left: 0; right: 0;
  display: flex; justify-content: center;
  z-index: 9999; pointer-events: none;
}
.flash{
  pointer-events: auto;
  padding: 10px 14px; border-radius: 12px;
  font-size: 14px; font-weight: 600;
  box-shadow: 0 6px 18px rgba(0,0,0,.12);
  border: 1px solid rgba(0,0,0,.06);
  background: #111827; color: #fff;
}
.flash-success { background:#0b7a28; }
.flash-info    { background:#1f4b99; }
.flash-warning { background:#9a6b00; }
.flash-danger  { background:#9a1f1f; }

@media (max-width: 768px) {
  .bg_img {
    display: none;
  }

  body {
    background-color: #f5e0ba; /* or whatever neutral color suits your form */
  }
}
